html {
  background-color: beige;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#items {
  margin-top: 20px;
  div {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid black;
  }
}
