* {
  font-family: sans-serif;
}
h1 {
  font-weight: 800;
  text-align: center;
}
#main-container {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}
h4 {
  border-bottom: 1px solid black;
  padding: 10px 120px;
}
.items {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
  align-items: center;
}
.items:hover {
  background-color: whitesmoke;
}
#subject {
  flex: 0.7;
}
#dlt:hover {
  text-decoration: underline;
  cursor: pointer;
}
